<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="../stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>

  </body>
</html>

<form action="/add" method="post">
        
    <input name="title" type="text" placeholder="title">
    <input name="price" type="text" placeholder="price">
    <input name="memory" type="text" placeholder="memory">
    <input name="processor" type="text" placeholder="processor">
    <input name="image" type="text" placeholder="image">

    <input type="submit" value="add a computer">
</form>